<nav class="navbar navbar-expand-md bg-dark navbar-dark"> <!--data-bs-theme="dark" does not support light toggle icon-->
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}" style="margin-top: 2px; margin-bottom: 3px">PreStage QA
      README</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myReadmeNavbar"
      aria-controls="myReadmeNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myReadmeNavbar">
      <div class="navbar-nav">
        <li><a class="nav-item nav-link {% if page.title == 'Readme like a boss' %}active{% endif %}"
            href="{{ '/' | relative_url }}">Home</a></li>
        <li><a class="nav-item nav-link {% if page.title == 'Revision History' %}active{% endif %}"
            href="{{ '/rev-history' | relative_url }}">Revision History</a></li>
        <li><a class="nav-item nav-link disabled {% if page.title == 'Basic Info' %}active{% endif %}"
            href="{{ '/basic-info' | relative_url }}">Getting Started</a></li>
        <li><a class="nav-item nav-link disabled {% if page.title == 'Nice to Know' %}active{% endif %}"
            href="{{ '/nice-to-know' | relative_url }}">Useful Info</a></li>
        <li><a class="nav-item nav-link {% if page.title == 'Check Details' %}active{% endif %}"
            href="{{ '/check-deets' | relative_url }}">Checks</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.title == 'Check Details' %}active{% endif %}"
            data-bs-toggle="dropdown" aria-expanded="false" href="{{ '/check-deets' | relative_url }}">Check Details</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">General</a></li>
            <li><a class="dropdown-item" href="#">PACS Core</a></li>
            <li><a class="dropdown-item" href="#">PACS App</a></li>
            <li><a class="dropdown-item" href="#">Jboss</a></li>
            <li><a class="dropdown-item" href="#">Cluster</a></li>
            <li><a class="dropdown-item" href="#">Path</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>